{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}

{{block.super}}


<!-- Landing Page -->
<body id="bodyimage">

    <div class="  banner text-center">
        <div class="header">
            <div class="container image">
                <h1>Welcome to Project Site</h1>
                <h3 id="category">You can always review the projects and rate them</h3>
        
            </div>
        </div>
    </div>

        <hr>
        <div class="row">
            {% for post in post %}

            <div class="colum-md-4 my-2 ml-5"> 
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{post.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{post.image}} </h6>
                  <p class="card-text">{{post.description}} </p>
                  <a href="#" class="card-link">{{post.link}} </a>
                </div>
              </div>
    
            </div>
            {% endfor %}

        </div>
       
    
   
   

    
</body>    
{% endblock %}