/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#bodyimage{
    background-image: url('https://images.unsplash.com/photo-1530333946717-1e10d9d535ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}
.content_container{
    background-color: white;
    padding-top:50px;
    position: absolute;
    width: 100%;
    top: 33px;
    left: 0px;


}
.card{
    background-color: white;
    margin: 0 auto;
    width: 600px;
    height: auto;
    border: .8px solid whitesmoke;
    border-radius: 4px;
    margin-bottom: 60px;
}
.card_header{
    padding: 10px;

}
.card_header a{
    text-decoration: none;
    color: black;
}
.profile_image{
    display: inline-block;
    background-color: antiquewhite;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 solid antiquewhite;
    border-radius: 50%;
}
.post_info{
    display: inline-block;
    padding-left: 15px;  
}
.post_name{
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.post_location{
    font-size: 12px;
    color:black;
    padding: 0;
    margin: 0;
}
.post_option{
    font-size: 15px;
    float: right;
    margin: 4px;
    padding:5px;
    color: white; 
}

.engagement{
    display: inline-block;
    width: 100%;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}
.engagement a{
    padding: 7px;
    font-size: 25px;
    color:slategrey;
    font-weight: 600;
}
.fa-save{
    float: right;
    margin-right: 25px;
}
.likes a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin: 0px 0px 0px;
    padding: 0px 21px;
}
.caption{
    display: inline-block;
    width: 100%;
    padding: 0px 16px;
}
.caption a{
    font-size: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 5px;
}

.caption span{
    font-size: 14px;
    font-weight: 500;
    color: black;
    display: inline-block;
    margin-right: 16px;
}
.time_posted{
    font-size: 10px;
    font-weight: 300;
    color: black;
    padding: 0px 16px;
    text-transform: uppercase;
}

.card-body {
    overflow: hidden;
    
}

.card-image {
    height: 220px;
    width: auto;
    padding: 2rem;
}